{% extends 'layout.html' %}
{% block main %}
    <div class="buttons">
            <button class="button is-info">
                <a href="/deposit">
                    Cash deposit
                </a>
            </button>
        <button class="button is-info">Cash withdraw</button>
        <button class="button is-info">Balance enquiry</button>
        <button class="button is-info">Change PIN number</button>
        <button class="button is-info">Transfer money</button>
        <button class="button is-info">Transaction history</button>
    </div>
{% endblock %}